@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 24px;

  @apply text-white;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a:hover {
  @apply text-zinc-400;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-xl font-medium;
}


#app {
  margin: 0 auto;
  text-align: center;
}

.markdownit * > h1 {
  @apply pb-4;
}

.markdownit * > a {
  @apply underline decoration-purple-600;
}

.markdownit * > li {
  @apply list-disc py-1 pt-2;
}

.markdownit * > blockquote {
  @apply border-l-2 pl-2;
}

.markdownit > div > p {
  @apply py-2;
}